<?xml version="1.0" encoding="utf-8" ?>

<log4net>
	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
	  <file value="SimECSSchedule.log" />
	  <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
	  <appendToFile value="true" />
	  <maximumFileSize value="5MB" />
	  <maxSizeRollBackups value="10" />
	  <rollingStyle value="Size" />
	  <layout type="log4net.Layout.PatternLayout">
		<param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
	  </layout>
	</appender>

	<logger name="ZECS.Schedule.ECSSchedule" additivity="false">
	  <level value="ALL" />
	  <appender-ref ref="RollingFile" />
	</logger>

	<logger name="ZECS.Schedule.Algorithm" additivity="false">
	  <level value="ALL" />
	  <appender-ref ref="RollingFile" />
	</logger>

	<logger name="ZECS.Schedule.VmsAlgoAdapter" additivity="false">
	  <level value="ALL" />
	  <appender-ref ref="RollingFile" />
	</logger>

	<logger name="ZECS.Schedule.JobManager_ECS" additivity="false">
	  <level value="ALL" />
	  <appender-ref ref="RollingFile" />
	</logger>

	<logger name="ZECS.Schedule.JobManager_TOS" additivity="false">
	  <level value="ALL" />
	  <appender-ref ref="RollingFile" />
	</logger>

	<logger name="ZECS.Schedule.ServiceManager" additivity="false">
	  <level value="ALL" />
	  <appender-ref ref="RollingFile" />
	</logger>

	<logger name="ZECS.Schedule.ScheduleSimulate" additivity="false">
	  <level value="ALL" />
	  <appender-ref ref="RollingFile" />
	</logger>

	<root>
	  <level value="ALL" />
	  <!--appender-ref ref="Console" /-->
	  <appender-ref ref="RollingFile" />
	</root>
</log4net>